.sidebarChat {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border-bottom: 2px solid lightgray;
}

.sidebarChat:hover {
  background-color: #3e93fd;
  color: white;
}
